.header-shape-1 {
    right: auto;
    left: 0;
    transform : rotateY(180deg)
}

.header-shape-2 {
    right: auto;
    left:0 ;
    transform : rotateY(180deg)
}
.slick-dots
{
    right:90% ;
    left:auto ;
    text-align: left;
}